WEB422/a6_backup/tslint.json
WEB422/a6_backup/tsconfig.json
WEB422/a6_backup/src/tslint.json
WEB422/a6_backup/src/tsconfig.spec.json
WEB422/a6_backup/src/assets/images/slider/bg1.jpg
WEB422/a6_backup/src/assets/images/prettyPhoto/light_square/sprite.png
WEB422/a6_backup/src/assets/images/prettyPhoto/light_square/loader.gif
WEB422/a6_backup/src/assets/images/prettyPhoto/light_square/default_thumbnail.gif
WEB422/a6_backup/src/assets/images/prettyPhoto/light_square/btnPrevious.png
WEB422/a6_backup/src/assets/images/prettyPhoto/light_square/btnNext.png
WEB422/a6_backup/src/assets/images/prettyPhoto/light_rounded/sprite.png
WEB422/a6_backup/src/assets/images/prettyPhoto/light_rounded/loader.gif
WEB422/a6_backup/src/assets/images/prettyPhoto/light_rounded/default_thumbnail.gif
WEB422/a6_backup/src/assets/images/prettyPhoto/light_rounded/btnPrevious.png
WEB422/a6_backup/src/assets/images/prettyPhoto/light_rounded/btnNext.png
WEB422/a6_backup/src/assets/images/prettyPhoto/facebook/sprite.png
WEB422/a6_backup/src/assets/images/prettyPhoto/facebook/loader.gif
WEB422/a6_backup/src/assets/images/prettyPhoto/facebook/default_thumbnail.gif
WEB422/a6_backup/src/assets/images/prettyPhoto/facebook/contentPatternTop.png
WEB422/a6_backup/src/assets/images/prettyPhoto/facebook/contentPatternRight.png
WEB422/a6_backup/src/assets/images/prettyPhoto/facebook/contentPatternLeft.png
WEB422/a6_backup/src/assets/images/prettyPhoto/facebook/contentPatternBottom.png
WEB422/a6_backup/src/assets/images/prettyPhoto/facebook/btnPrevious.png
WEB422/a6_backup/src/assets/images/prettyPhoto/facebook/btnNext.png
WEB422/a6_backup/src/assets/images/prettyPhoto/default/sprite_y.png
WEB422/a6_backup/src/assets/images/prettyPhoto/default/sprite_x.png
WEB422/a6_backup/src/assets/images/prettyPhoto/default/sprite_prev.png
WEB422/a6_backup/src/assets/images/prettyPhoto/default/sprite_next.png
WEB422/a6_backup/src/assets/images/prettyPhoto/default/sprite.png
WEB422/a6_backup/src/assets/images/prettyPhoto/default/loader.gif
WEB422/a6_backup/src/assets/images/prettyPhoto/default/default_thumb.png
WEB422/a6_backup/src/assets/images/prettyPhoto/dark_square/sprite.png
WEB422/a6_backup/src/assets/images/prettyPhoto/dark_square/loader.gif
WEB422/a6_backup/src/assets/images/prettyPhoto/dark_square/default_thumbnail.gif
WEB422/a6_backup/src/assets/images/prettyPhoto/dark_square/contentPattern.png
WEB422/a6_backup/src/assets/images/prettyPhoto/dark_square/btnPrevious.png
WEB422/a6_backup/src/assets/images/prettyPhoto/dark_square/btnNext.png
WEB422/a6_backup/src/assets/images/prettyPhoto/dark_rounded/sprite.png
WEB422/a6_backup/src/assets/images/prettyPhoto/dark_rounded/loader.gif
WEB422/a6_backup/src/assets/images/prettyPhoto/dark_rounded/default_thumbnail.gif
WEB422/a6_backup/src/assets/images/prettyPhoto/dark_rounded/contentPattern.png
WEB422/a6_backup/src/assets/images/prettyPhoto/dark_rounded/btnPrevious.png
WEB422/a6_backup/src/assets/images/prettyPhoto/dark_rounded/btnNext.png
WEB422/a6_backup/src/assets/images/portfolio/recent/item9.jpg
WEB422/a6_backup/src/assets/images/portfolio/recent/item8.jpg
WEB422/a6_backup/src/assets/images/portfolio/recent/item7.jpg
WEB422/a6_backup/src/assets/images/portfolio/recent/item6.jpg
WEB422/a6_backup/src/assets/images/portfolio/recent/item5.jpg
WEB422/a6_backup/src/assets/images/portfolio/recent/item4.jpg
WEB422/a6_backup/src/assets/images/portfolio/recent/item3.jpg
WEB422/a6_backup/src/assets/images/portfolio/recent/item2.jpg
WEB422/a6_backup/src/assets/images/portfolio/recent/item1.jpg
WEB422/a6_backup/src/assets/images/portfolio/full/item9.jpg
WEB422/a6_backup/src/assets/images/portfolio/full/item8.jpg
WEB422/a6_backup/src/assets/images/portfolio/full/item7.jpg
WEB422/a6_backup/src/assets/images/portfolio/full/item6.jpg
WEB422/a6_backup/src/assets/images/portfolio/full/item5.jpg
WEB422/a6_backup/src/assets/images/portfolio/full/item4.jpg
WEB422/a6_backup/src/assets/images/portfolio/full/item3.jpg
WEB422/a6_backup/src/assets/images/portfolio/full/item2.jpg
WEB422/a6_backup/src/app/components/nav-component/nav-component.component.html
WEB422/a6_backup/src/favicon.ico
WEB422/a6_backup/src/environments/environment.ts
WEB422/a6_backup/src/environments/environment.prod.ts
WEB422/a6_backup/src/browserslist
WEB422/a6_backup/src/assets/js/respond.min.js
WEB422/a6_backup/src/assets/js/jquery.prettyPhoto.js
WEB422/a6_backup/src/assets/js/jquery.js
WEB422/a6_backup/src/assets/js/jquery.isotope.min.js
WEB422/a6_backup/src/assets/js/html5shiv.js
WEB422/a6_backup/src/assets/js/bootstrap.min.js
WEB422/a6_backup/src/assets/images/testimonials/woman1.jpg
WEB422/a6_backup/src/assets/images/testimonials/man2.jpg
WEB422/a6_backup/src/assets/images/testimonials/man1.jpg
WEB422/a6_backup/src/assets/images/testimonials/bg_testimonials.jpg
WEB422/a6_backup/src/assets/images/slider/bg3.jpg
WEB422/a6_backup/src/assets/images/slider/bg2.jpg
WEB422/a6_backup/src/assets/images/portfolio/full/item1.jpg
WEB422/a6_backup/src/assets/images/partners/partner_bg.jpg
WEB422/a6_backup/src/assets/images/partners/partner5.png
WEB422/a6_backup/src/assets/images/partners/partner4.png
WEB422/a6_backup/src/assets/images/partners/partner3.png
WEB422/a6_backup/src/assets/images/partners/partner2.png
WEB422/a6_backup/src/assets/images/partners/partner1.png
WEB422/a6_backup/src/assets/images/innerpage_bg.png
WEB422/a6_backup/src/assets/images/color_border.jpg
WEB422/a6_backup/src/assets/images/about.png
WEB422/a6_backup/src/assets/fonts/glyphicons-halflings-regular.woff2
WEB422/a6_backup/src/assets/fonts/glyphicons-halflings-regular.woff
WEB422/a6_backup/src/assets/fonts/glyphicons-halflings-regular.ttf
WEB422/a6_backup/src/assets/fonts/glyphicons-halflings-regular.svg
WEB422/a6_backup/src/assets/fonts/glyphicons-halflings-regular.eot
WEB422/a6_backup/src/assets/fonts/fontawesome-webfont.woff
WEB422/a6_backup/src/assets/fonts/fontawesome-webfont.ttf
WEB422/a6_backup/src/assets/fonts/fontawesome-webfont.svg
WEB422/a6_backup/src/assets/fonts/fontawesome-webfont.eot
WEB422/a6_backup/src/assets/fonts/FontAwesome.otf
WEB422/a6_backup/src/assets/css/responsive.css
WEB422/a6_backup/src/assets/css/prettyPhoto.css
WEB422/a6_backup/src/assets/css/main.css
WEB422/a6_backup/src/assets/css/font-awesome.min.css
WEB422/a6_backup/src/assets/css/font-awesome.css
WEB422/a6_backup/src/assets/css/bootstrap.min.css
WEB422/a6_backup/src/assets/.gitkeep
WEB422/a6_backup/src/app/components/positions-component/positions-component.component.ts
WEB422/a6_backup/src/app/components/positions-component/positions-component.component.html
WEB422/a6_backup/src/app/components/positions-component/positions-component.component.css
WEB422/a6_backup/src/app/components/position/position.component.ts
WEB422/a6_backup/src/app/components/position/position.component.spec.ts
WEB422/a6_backup/src/app/components/position/position.component.html
WEB422/a6_backup/src/app/components/position/position.component.css
WEB422/a6_backup/src/app/components/position.ts
WEB422/a6_backup/src/app/components/position.service.ts
WEB422/a6_backup/src/app/components/page-not-found-component/page-not-found-component.component.ts
WEB422/a6_backup/src/app/components/page-not-found-component/page-not-found-component.component.html
WEB422/a6_backup/src/app/components/page-not-found-component/page-not-found-component.component.css
WEB422/a6_backup/src/app/components/nav-component/nav-component.component.ts
WEB422/a6_backup/src/app/components/employees-component/employees-component.component.html
WEB422/a6_backup/src/app/components/employees-component/employees-component.component.css
WEB422/a6_backup/src/app/components/employeeRaw.ts
WEB422/a6_backup/src/app/components/employee/employee.component.ts
WEB422/a6_backup/src/app/components/employee/employee.component.spec.ts
WEB422/a6_backup/src/app/components/employee/employee.component.html
WEB422/a6_backup/src/app/components/employee/employee.component.css
WEB422/a6_backup/src/app/components/employee.ts
WEB422/a6_backup/src/app/components/employee.service.ts
WEB422/a6_backup/src/app/components/content-component/content-component.component.ts
WEB422/a6_backup/src/app/components/content-component/content-component.component.html
WEB422/a6_backup/src/app/components/content-component/content-component.component.css
WEB422/a6_backup/src/app/app.module.ts
WEB422/a6_backup/src/app/app.component.ts
WEB422/a6_backup/src/app/app.component.spec.ts
WEB422/a6_backup/src/app/app.component.html
WEB422/a6_backup/src/app/app.component.css
WEB422/a6_backup/src/app/app-routing.module.ts
WEB422/a6_backup/package.json
WEB422/a6_backup/package-lock.json
WEB422/a6_backup/e2e/tsconfig.e2e.json
WEB422/a6_backup/e2e/src/app.po.ts
WEB422/a6_backup/e2e/src/app.e2e-spec.ts
WEB422/a6_backup/e2e/protractor.conf.js
WEB422/a6_backup/angular.json
WEB422/a6_backup/README.md
WEB422/a6_backup/.gitignore
WEB422/a6_backup/.editorconfig
WEB422/a6_backup/src/app/components/nav-component/nav-component.component.css
WEB422/a6_backup/src/app/components/home-component/home-component.component.ts
WEB422/a6_backup/src/app/components/home-component/home-component.component.html
WEB422/a6_backup/src/app/components/home-component/home-component.component.css
WEB422/a6_backup/src/app/components/footer-component/footer-component.component.ts
WEB422/a6_backup/src/app/components/footer-component/footer-component.component.html
WEB422/a6_backup/src/app/components/footer-component/footer-component.component.css
WEB422/a6_backup/src/app/components/employees-component/employees-component.component.ts
WEB422/a6_backup/src/tsconfig.app.json
WEB422/a6_backup/src/test.ts
WEB422/a6_backup/src/styles.css
WEB422/a6_backup/src/polyfills.ts
WEB422/a6_backup/src/main.ts
WEB422/a6_backup/src/karma.conf.js
WEB422/a6_backup/src/index.html
