<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h2>Vehicles</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec volutpat ante. </p>
    </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Vin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.year}}</td>
            <td>{{vehicle.make}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.vin}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>


