// The following SCSS snippets were sourced from the Official "SASS Basics" Documentaiton: http://sass-lang.com/guide

// Importing 'Partials'

@import 'reset';

// Variables

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

// Nesting

nav {
    ul {
      margin: 0px;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block; }
  
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
  }

  // Mixins

  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }

  .box { @include border-radius(10px); }

  // Extend / Inheritance

  .message {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
  }
  
  .success {
    @extend .message;
    border-color: green;
  }
  
  .error {
    @extend .message;
    border-color: red;
  }
  
  .warning {
    @extend .message;
    border-color: yellow;
  }

  // Operators

  .container { width: 100%; }
  
  article[role="main"] {
    float: left;
    width: 600px / 960px * 100%; // gets 600px as a percentage of 960px
  }
  
  aside[role="complementary"] {
    float: right;
    width: 300px / 960px * 100%; // gets 300px as a percentage of 960px
  }
  



