<div class="bear panel panel-default" id="bear">
  <div class="panel-heading">
    <h3 class="panel-title">Bear</h3>
  </div>
  <div class="panel-body">
    <p>Bears are carnivoran mammals of the family Ursidae. They are classified as caniforms, or doglike carnivorans. Although
      only eight species of bears are extant, they are widespread, appearing in a wide variety of habitats throughout the
      Northern Hemisphere and partially in the Southern Hemisphere. Bears are found on the continents of North America, South
      America, Europe, and Asia. Common characteristics of modern bears include large bodies with stocky legs, long snouts,
      small rounded ears, shaggy hair, plantigrade paws with five nonretractile claws, and short tails.</p>
    <p>While the polar bear is mostly carnivorous, and the giant panda feeds almost entirely on bamboo, the remaining six species
      are omnivorous with varied diets. With the exception of courting individuals and mothers with their young, bears are
      typically solitary animals. They may be diurnal or nocturnal and have an excellent sense of smell. Despite their heavy
      build and awkward gait, they are adept runners, climbers, and swimmers. Bears use shelters, such as caves and logs,
      as their dens; most species occupy their dens during the winter for a long period of hibernation, up to 100 days.</p>
    <img src="http://p.vitalmx.com/photos/forums/2016/11/08/159439/s1200_IMG_0468.jpg" alt="Bear" class="w-25">
  </div>
</div>