<div class="horse panel panel-default" id="horse">
  <div class="panel-heading">
    <h3 class="panel-title">Horse</h3>
  </div>
  <div class="panel-body">
    <p>The horse (Equus ferus caballus)[2][3] is one of two extant subspecies of Equus ferus. It is an odd-toed ungulate mammal
      belonging to the taxonomic family Equidae. </p>
    <p>The horse has evolved over the past 45 to 55 million years from a small multi-toed creature, Eohippus, into the large,
      single-toed animal of today. Humans began to domesticate horses around 4000 BC, and their domestication is believed
      to have been widespread by 3000 BC. Horses in the subspecies caballus are domesticated, although some domesticated
      populations live in the wild as feral horses. These feral populations are not true wild horses, as this term is used
      to describe horses that have never been domesticated, such as the endangered Przewalski's horse, a separate subspecies,
      and the only remaining true wild horse. There is an extensive, specialized vocabulary used to describe equine-related
      concepts, covering everything from anatomy to life stages, size, colors, markings, breeds, locomotion, and behavior.</p>
    <img src="http://ashs.com.au/images/New_Buttons-2017-03-24/StudBook3.png" alt="Horse" class="w-25">
  </div>
</div>