<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h2>Welcome Home</h2>
      <p>Click "Vehicles" to view our extensive collection of vehicles</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec volutpat ante. Suspendisse pharetra laoreet mauris a dapibus. Sed non dolor et mi tincidunt dignissim eget sit amet est. In nec porta mi. Integer porta dictum ullamcorper. Ut ac maximus lorem, quis consectetur ex. Morbi semper, risus et elementum tristique, leo nibh sodales purus, sed tempor purus quam ac purus. Proin placerat suscipit bibendum. Morbi imperdiet id erat id congue. Etiam vitae cursus quam. Nulla aliquam luctus leo. Curabitur sed orci viverra sem laoreet consequat. Maecenas at viverra tortor, ut laoreet diam. Donec ac hendrerit mauris. Suspendisse vestibulum nulla sit amet dolor viverra, id ultricies tellus finibus.</p>

    <p>Nulla ligula erat, elementum id urna non, maximus tincidunt mi. Maecenas accumsan egestas risus, in placerat augue. In hac habitasse platea dictumst. Fusce nec tincidunt neque, sed mollis nisi. Nunc luctus id orci non imperdiet. Pellentesque venenatis lectus id tempor interdum. Aliquam erat volutpat. Proin vehicula varius odio, vel consequat neque aliquet nec. Fusce faucibus finibus velit, ac scelerisque metus. Quisque porttitor odio at nibh accumsan, id volutpat turpis pellentesque. Proin magna tortor, fermentum id lobortis ut, tempus vitae urna. Nullam pharetra facilisis velit, sed facilisis arcu aliquet non. Nam viverra nibh sed metus vestibulum placerat sed vehicula nisi.</p>
  </div>
</div>
