      <div class="row">
        <aside class="col-md-3">
          <h2>Coming Soon</h2> 
          <p>More fitures will will be added</p>
        </aside>
        <section class="main col-md-9">
          <article>
          <h2>Welcome</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan libero a sem venenatis pharetra. Nulla facilisi. In semper blandit arcu. Nullam vitae sem convallis, vehicula nisi eu, hendrerit justo. Pellentesque libero neque, interdum nec diam bibendum, tristique pellentesque felis. Sed vel adipiscing lacus. Maecenas porta dolor a turpis aliquet, eget posuere nisi fringilla. Aenean ac turpis tristique, feugiat mi sodales, laoreet neque. Donec tristique nec quam sit amet sagittis. Mauris elementum ullamcorper risus at luctus.</p>
          <p>Cras dui dui, suscipit ac massa et, fermentum lacinia lacus. Aliquam erat volutpat. Phasellus non tellus quis quam eleifend laoreet. Etiam luctus augue nec lectus consequat euismod. Nulla tristique augue a urna eleifend rutrum eget quis turpis. Curabitur consectetur aliquet lobortis. Donec id felis leo. Etiam ullamcorper augue justo, vitae tincidunt ipsum gravida vitae. Donec orci justo, vehicula rutrum mattis et, ornare ullamcorper mi. Mauris eget diam est.</p>
          <p>Ut non diam varius ante dictum blandit nec in tortor. Pellentesque sodales vel elit eget cursus. In condimentum consequat mauris vel bibendum. Curabitur feugiat nibh in sodales condimentum. In sit amet hendrerit massa, sed porta ipsum. Praesent consectetur consectetur sem, at aliquam ante posuere ac. Sed sit amet quam egestas eros lobortis varius. Aenean eleifend nec turpis eget faucibus. Duis pretium consequat velit, quis eleifend leo laoreet non. Quisque sit amet lobortis urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In nisi nibh, convallis eu metus et, adipiscing laoreet quam.</p>
          <p>Duis egestas cursus diam, ut volutpat tortor mattis tempor. In et imperdiet turpis. Proin aliquet, lectus ultrices fringilla lobortis, purus risus imperdiet neque, eget consectetur ligula quam non arcu. Curabitur vitae posuere elit, in faucibus felis. Suspendisse vitae nisl eget ligula condimentum bibendum in ut nulla. Etiam non lacinia turpis. Aliquam placerat est vestibulum turpis pretium elementum. Integer pharetra gravida massa, at aliquam turpis pulvinar sit amet. Nam a lectus sed mauris suscipit commodo a non ipsum. Aenean dapibus porttitor massa vitae auctor. Donec quis ultricies orci. Etiam semper, lectus vitae tristique ullamcorper, risus lectus semper nulla, quis accumsan sem leo at neque.</p>
          <p>Nullam vulputate lectus at nisi euismod, nec consectetur lorem elementum. Vestibulum id justo metus. Etiam id lacinia nulla. Fusce aliquet convallis mauris iaculis iaculis. Suspendisse et eleifend tortor. Nunc non tincidunt lorem. Integer consectetur magna felis, vel mattis diam varius id. Morbi elementum semper purus, nec ullamcorper neque mattis in. Nulla facilisi. Vivamus mollis justo eget urna bibendum sodales.</p>
          </article>
        </section>
      </div>