<div class="row">
    <div class="col-md-12">
        <h2>Images</h2>
        <hr/>
    </div>
    {{#each data}}
    <div class="col-md-4">
        <img src="/images/uploaded/{{this}}" class="img-responsive img-thumbnail"/>
    </div>
    {{else}}
    <div class="col-md-12">
        <strong>No Images Available</strong>
    </div>
    {{/each}}
</div>