<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Start Page</h3>
  </div>
  <div class="panel-body">
    <p>This is the beautiful "start" page.</p>
    <p>All text content was copied from Wikipedia.</p>
    <hr>
    <!-- <p>First name in the collection: {{ teachers[0] }}</p> -->
    <p>All teachers:</p>
    <ul>
      <li *ngFor='let t of teachers'>
        {{ t }}
      </li>
    </ul>
    <!-- <hr>
    <p>All posts:</p>
    <ul>
      <li *ngFor='let p of posts'>
        User ID {{ p.userId }} - Title {{ p.title }}
      </li>
    </ul> -->
  </div>
</div>