
<div class="row">
    <div class="col-md-12">
        <h2>Add Department</h2>
        <br />
        <form method="post" action="/departments/add">
            <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="departmentName">Department&nbsp;Name</label>
                            <input class="form-control" id="departmentName" name="departmentName" type="text" />
                        </div>
                    </div>
                </div>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Add Department" /><br /><br /><br />
        </form>
    </div>
</div>