<div class="row">
    <div class="col-md-12">{{#each department}}
        <h2>{{departmentName}} - Department: {{ departmentId}}</h2>
        <hr />
        <form method="post" action="/department/update">
        <input id="departmentId" name="departmentId" type="hidden" value="{{departmentId}}"/>
            <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="departmentName">Department&nbsp;Name</label>
                            <input class="form-control" id="departmentName" name="departmentName" type="text" value="{{departmentName}}" />
                        </div>
                    </div>
                </div>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
        </form>{{/each}}
    </div>
</div>
