<div class="container register-form">
    <h2>Register</h2>
    <hr />
    {{#if errorMessage}}
        <div class="alert alert-danger"><strong>Error:</strong> {{errorMessage}}</div>
    {{else if successMessage}}
        <div class="alert alert-success"> <strong>Success:</strong> {{successMessage}}</div><a class="btn btn-success pull-right"
href="/login">&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;</a><br /><br /><br />
    {{else}}
    <form method="post" action="/register">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" id="userName" name="userName" type="text" placeholder="User Name" required value=""
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" id="password" name="password" type="password" placeholder="Password" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" id="password2" name="password2" type="password" placeholder="Confirm Password" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" id="email" name="email" type="email" placeholder="Email Address" required />
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-success pull-right" value="Register" />
    </form>
    {{/if}}
    </div>