<div class="center">
  <h2>Positions</h2>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique bibendum.</p>
  </div>

<div class="container">
<div class="row">
  <div class="col-md-12">
    
      <div class="table-responsive">
          <table class="table table-condensed table-hover">
            <thead> 
              <td>Position Title</td>
              <td>Position Description</td>
              <td>Salary</td>
            </thead>
            <tbody >
              <tr *ngFor="let position of positions" (click)="routePosition(position._id)">
                <td>{{ position.PositionName }}</td>
                <td>{{ position.PositionDescription }}</td>
                <td>${{ position.PositionBaseSalary | number:'.2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>

  </div>
</div>
</div>