<div class="dolphin panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Dolphin</h3>
  </div>
  <div class="panel-body">
    <p>Dolphins are a widely distributed and diverse group of aquatic mammals. They are an informal grouping within the order
      Cetacea, excluding whales and porpoises, so to zoologists the grouping is paraphyletic.</p>
    <p> The dolphins comprise the extant families Delphinidae (the oceanic dolphins), Platanistidae (the Indian river dolphins),
      Iniidae (the new world river dolphins), and Pontoporiidae (the brackish dolphins), and the extinct Lipotidae (baiji
      or Chinese river dolphin). There are 40 extant species of dolphins. Dolphins, alongside other cetaceans, belong to
      the clade Cetartiodactyla with even-toed ungulates. Cetaceans' closest living relatives are the hippopotamuses, having
      diverged about 40 million years ago.</p>
    <img src="https://i.pinimg.com/736x/1c/2f/f0/1c2ff05ad6165523c782e81f14592fe2--baby-dolphins-cute-dolphins.jpg" alt="Dolphin"
      class="w-25">
  </div>
</div>