<nav class="navbar navbar-inverse" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">
        <i class="fa fa-play-circle"></i> Jihyun Yoon (API Demo)</a>
    </div>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/home">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/employees">Employees</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/positions">Positions</a>
        </li>
      </ul>
    </div>
  </div>
</nav>