<div class="row">
    <div class="col-md-12">
      
      <div class="well">
        <h2>Login</h2>
        <p>Enter your login information below:
      </div>
  
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label class="control-label" for="name">User:</label>
          <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="user.userName" autofocus>
        </div>
        <div class="form-group">
          <label class="control-label" for="name">Password:</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
        </div>
  
        <div class="alert alert-danger" *ngIf="warning">
          {{warning}}
        </div>
  
        <button class="btn btn-primary pull-right" type="submit">Login</button>
      </form>
      
    </div>
  </div>